body,
h1,
h2,
h3,
h4,
h5 {
  font-family: "Poppins", sans-serif
}

input, textarea {
  border-radius: 0px;
  /* iOS 둥근모서리 제거 */
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

body {
  font-size: 16px;
}

.w3-half img {
  margin-bottom: -6px;
  margin-top: 16px;
  opacity: 0.8;
  cursor: pointer
}

.w3-half img:hover {
  opacity: 1
}
